.row__posters{
display: flex;
overflow-y: hidden;
overflow-x: scroll;
padding: 20px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__poster{
object-fit:contain;
width:100%;
max-height:180px;
margin-right: 10px;
transition:transform 450ms;
cursor: pointer;
}
.row__poster:hover{
    transform: scale(1.08);
}
.list{
display: none;
}
.info{
    color: rgb(104, 98, 98);
    margin-right: 10px;
}